XLAYER_MAINNET_RPC_URL=https://rpc.xlayer.tech
XLAYER_TESTNET_RPC_URL=https://testrpc.xlayer.tech/terigon
PRIVATE_KEY=replace_with_deployer_private_key
OWNER_ADDRESS=replace_with_owner_address
HOOK_DEPLOYER_ADDRESS=replace_after_deploying_HookDeployer
XLAYER_MAINNET_POOL_MANAGER=0x360e68faccca8ca495c1b759fd9eee466db9fb32
